<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Email Verification</title>
  </head>
  <body>
    <!-- body-content -->
    <p>
      To get started using Nice App, please confirm your email account by
      clicking on the button below:
    </p>
    <p>
      <a href="<%=  confirmation_url %>">Confirm my account</a>
    </p>

    <p style="color: rgb(197, 87, 87)">
      NOTE: This email Verification email will expire in 48 hours from the
      moment you receveid this email
    </p>

    <p>
      If you're having trouble clicking the confirm account button, copy and
      paste the below URL into your web browser.
    </p>

    <a href="<%=  confirmation_url %>"><%= confirmation_url %></a>
  </body>
</html>
