<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Email Verification</title>
  </head>
  <body>
    <% const baseUrl = "http://"; %>

    <!-- body-content -->
    <p>
      To get started using Nice App, please confirm your email account by
      clicking on the button below:
    </p>
    <p>
      <a href="<%= baseUrl + confirmation_url %>">Confirm my account</a>
    </p>

    <p>
      If you're having trouble clicking the confirm account button, copy and
      paste the below URL into your web browser.
    </p>

    <a href="<%= baseUrl + confirmation_url %>"
      ><%= baseUrl + confirmation_url %></a
    >
  </body>
</html>
