<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Forgotten Password</title>
    <style>
      .button {
        cursor: pointer;
        display: inline-block;
        padding: 10px 20px;
        background-color: #007bff; /* Button background color */
        color: #fff; /* Button text color */
        text-decoration: none; /* Remove default underline */
        border-radius: 5px; /* Rounded corners */
        transition: background-color 0.3s ease; /* Smooth hover effect */
      }

      .button:hover {
        background-color: #0056b3; /* Darker background color on hover */
      }
    </style>
  </head>

  <body>
    <% const baseUrl = "http://"; %>

    <!-- body-content -->
    <p>Hey <%= user_name %>,</p>

    <p>To reset your account's password follow the instructions below:</p>

    <a class="button" href="<%=  baseUrl + reset_url  %>">Reset my password</a>

    <p>
      If you're having trouble clicking the link, copy and paste the below URL
      into your web browser.
    </p>

    <a href="<%= baseUrl + reset_url %>"><%= baseUrl + reset_url %></a>
  </body>
</html>
