<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Final Welcome Email</title>
  </head>
  <body>
    <p>Hey <%= userName %>,</p>
    <p>
      Thanks for signing up for Nice App. We're very excited to have you on
      board.
    </p>
  </body>
</html>
