<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Welcome Email</title>
  </head>
  <body>
    <% const baseUrl = "http://"; %>

    <!-- body-content -->
    <p>Hey <%= user_name %>, welcome on board</p>

    <p>We are happy to have you on our platform.</p>
  </body>
</html>
